.carousel {
height: 800px;
}
.carousel-inner, .carousel-item {
    height:100%;
}

.carousel-item {
    background-size: cover;
}

.carousel-caption {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50);
    bottom: unset;
    background-color: white;
    color: darkslategray;
    padding: 2rem 3rem;
   


}